// BACKGROUND-COLORS
$backgroud_header: #FFFFFF;
$backgroud_boxMain1: #FFFF1A;
$backgroud_boxMain2: #FFFF80;
$backgroud_button: #39FFBF;
$backgroud_boxHelp: #35FFBF;
$backgroud_buttonChat: #527CEB;
$backgroud_buttonHover: #F81D39;
$backgroud_icon: #F00E2E;
$backgroud_iconCarosel: #333333;
$backgroud_headerBox1: #1F1E38;

// FONT-COLORS
$font_headerNav: #FFFFFF;
$font_dashText: #AAAAAA;
$font_dash: #39FFBF;
$font_titleMain: #000000;
$font_textMain: #1F1E38B3;
$font_date: #F81D39;
